[submodule "hugo-theme-cactus"]
	path = hugo-theme-cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus
